/* External Imports */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css');

/* Global Styles */
html,
body {
  font-size: 14px;
  font-weight: 400;
  font-family: 'Lato', sans-serif;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.cursor-pointer {
  cursor: pointer;
}

.divider {
  width: 1px;
  height: 50px;
  background-color: #ddd;
}

.material-icons {
  font-size: 18px;
}
